<div #chat
     class=" flex flex-col gap-sm py-sm  h-[calc(100svh-300px)] overflow-auto">
  <h1>{{artistStore.artist.name()}}{{ 'ARTIST.PAGES.CHAT.TITLE' | translate }}</h1>
  <div class="flex flex-col gap-2 justify-between h-full">
    <div class="flex flex-col gap-2">
      @for(message of artistStore.artist.chat(); let i = $index; track $index){
      <div #message
           class="flex  gap-xs">
        <div class="shrink-0 "
             [ngClass]="{'order-2': message.userId === authStore.user()?.id && message.role !== UserRoleEnum.ARTIST}">
          @if(message.img) {
          <ion-img class="size-2xl rounded-sm overflow-hidden"
                   [src]="message.img"></ion-img>
          } @else {
          <div class="flex justify-center items-center size-2xl rounded-sm text-[18px] font-bold text-black-100 overflow-hidden "
               [ngClass]="{'bg-yellow-100': message.role === UserRoleEnum.ARTIST, 'bg-green-300': message.userId !== authStore.user()?.id  && message.role !== UserRoleEnum.ARTIST, 'bg-green-200': message.userId === authStore.user()?.id && message.role !== UserRoleEnum.ARTIST}">
            <span>{{message.shortName}}</span>
          </div>
          }
        </div>
        <div class="flex flex-col gap-xs p-sm  w-full rounded-sm text-black-100"
             [ngClass]="{'bg-yellow-100': message.role === UserRoleEnum.ARTIST, 'bg-green-300': message.userId !== authStore.user()?.id  && message.role !== UserRoleEnum.ARTIST, 'bg-green-200': message.userId === authStore.user()?.id && message.role !== UserRoleEnum.ARTIST}">
          <div class="inline-flex items-center gap-sm">
            <span class="text-[14px] font-bold">
              {{message.name}}
            </span>
            @if(message.role === UserRoleEnum.ARTIST){
            <span class="py-[1px] px-[2px] bg-green-200 text-[10px]  uppercase">{{'CONSTANTS.CREATOR' | translate}}</span>
            }
            <span class="text-[12px]">&#8226;</span>
            <span class="text-[12px] text-opacity-80">
              {{dayjs(message.date).fromNow(true)}} {{'CONSTANTS.AGO' | translate}}
            </span>
          </div>
          <div class="text-[14px]"
               [innerHTML]="message.message | safeHtml">
          </div>
        </div>
      </div>
      }
    </div>

    <div #input
         class="fixed bottom-lg left-lg right-lg">
      <div class="relative flex gap-xs">
        <input type="text"
               class="flex-grow min-h-[48px] p-lg rounded-sm text-white text-[14px] bg-gray-60 border border-black-300 bg-[#2B3743]"
               [ngClass]="{'px-[60px]': newMessage}"
               [placeholder]="'ARTIST.PAGES.CHAT.INPUT_PLACEHOLDER' | translate"
               [(ngModel)]="newMessage"
               (keyup.enter)="sendMessage()"
               (keyup.escape)="clearMessage()">
        <!-- <ion-input class="flex-grow"
                 fill="outline"
                 mode="md"
                 placeholder="{{'ARTIST.PAGES.CHAT.INPUT_PLACEHOLDER' | translate}}"
                 [(ngModel)]="newMessage"
                 (keyup.enter)="sendMessage()"
                 (keyup.escape)="clearMessage()"> -->
        @if(newMessage) {
        <ion-button class="absolute left-lg top-[50%] translate-y-[-50%] size-xl p-0 "
                    slot="start"
                    fill="clear"
                    (click)="clearMessage()">
          <span class="icon-close text-xl text-white"
                slot="icon-only"></span>
        </ion-button>
        <ion-button class="absolute right-lg top-[50%] translate-y-[-50%] size-2xl p-0 "
                    slot="end"
                    fill="clear"
                    (click)="sendMessage()">
          <span class="icon-arrow-right text-2xl  text-green-100"
                slot="icon-only"></span>
        </ion-button>
        }
        <!-- </ion-input> -->
      </div>
    </div>
  </div>
</div>
