<ion-header [translucent]="true"
            class="no-shadow px-[var(--ion-padding)] bg-[transparent] mobile:pb-2
            desktop-min:mb-3"
            id="{{'main-content' + '-' + parentPage()}}">
  <ion-toolbar>
    <div class="flex justify-between gap-2">
      <ion-img class=" w-[180px] cursor-pointer"
               src="/assets/images/logo.png"
               (click)="goHome()">
      </ion-img>
      <div class="flex-shrink-0 flex gap-2 justify-between items-center desktop-min:justify-end">
        <ion-button class="flex p-0 size-[35px]"
                    fill="clear"
                    routerLink="/cart">
          <svg class="size-[35px]"
               width="35"
               height="36"
               viewBox="0 0 35 36"
               fill="none"
               xmlns="http://www.w3.org/2000/svg"
               slot="icon-only">
            <rect y="0.25"
                  width="35"
                  height="35"
                  rx="17.5"
                  fill="#4CC8BC" />
            <path d="M22.5 22.75C21.3954 22.75 20.5 23.6454 20.5 24.75C20.5 25.8546 21.3954 26.75 22.5 26.75C23.6046 26.75 24.5 25.8546 24.5 24.75C24.5 23.6454 23.6046 22.75 22.5 22.75ZM22.5 22.75H14.7939C14.3329 22.75 14.1019 22.75 13.9121 22.668C13.7447 22.5956 13.5994 22.4791 13.4935 22.3305C13.3749 22.164 13.3272 21.9413 13.2327 21.5005L10.7715 10.0146C10.6748 9.56363 10.6259 9.33838 10.5059 9.16992C10.4 9.02135 10.2548 8.90441 10.0873 8.83205C9.89746 8.75 9.66779 8.75 9.20653 8.75H8.5M11.5 11.75H24.3732C25.095 11.75 25.4555 11.75 25.6978 11.9004C25.91 12.0321 26.0653 12.2386 26.133 12.479C26.2104 12.7534 26.111 13.1 25.911 13.7935L24.5264 18.5935C24.4068 19.0081 24.3469 19.215 24.2256 19.3689C24.1185 19.5047 23.9772 19.611 23.817 19.6763C23.6361 19.75 23.4211 19.75 22.9921 19.75H13.2305M13.5 26.75C12.3954 26.75 11.5 25.8546 11.5 24.75C11.5 23.6454 12.3954 22.75 13.5 22.75C14.6046 22.75 15.5 23.6454 15.5 24.75C15.5 25.8546 14.6046 26.75 13.5 26.75Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
            @if(cartStore.items().length > 0){
            <rect x="22"
                  y="0.25"
                  width="13"
                  height="13"
                  rx="6.5"
                  fill="#EB001B" />
            <text fill="white"
                  xml:space="preserve"
                  style="white-space: pre"
                  font-family="Geist"
                  font-size="9"
                  font-weight="500"
                  letter-spacing="0em">
              <tspan x="28.675"
                     y="9.3"
                     text-anchor="middle">{{cartStore.items().length}}</tspan>
            </text>
            }
          </svg>
        </ion-button>
        <ion-button class="p-0"
                    fill="clear"
                    (click)="menu.open()">
          <div class="flex items-center gap-xs">
            <span class="text-white">Menu</span>
            <img src="/assets/images/menu-open.svg"
                 alt="menu-open">

          </div>
        </ion-button>

      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-menu #menu>

  <ion-content [fullscreen]="true"
               class="ion-padding"
               style="--color-page: var(--color-yellow-100)">
    <div class="flex justify-end w-full">
      <ion-button class="flex p-0"
                  fill="clear"
                  (click)="menu.close()">
        <img class="w-[36px]"
             src="/assets/images/menu-close.svg"
             alt="menu-close">
      </ion-button>
    </div>
    @if(authService.user()?.role === UserRoleEnum.USER){
    <ul class="flex flex-col">
      <li>
        <a class="block pt-3 pb-2 text-black-10 text-2xl font-bold"
           routerLink="/artists/list"
           (click)="menu.close()">
          {{'NAVIGATION.ARTISTS' | translate}}
        </a>
      </li>
      <hr class="h-[1px] text-[#4B4B4B] bg-[#4B4B4B] border-0 ">
      <li>
        <a class="block pt-3 pb-2 text-black-10 text-2xl font-bold"
           routerLink="/merchandise/list"
           (click)="menu.close()">
          {{'NAVIGATION.ARTISTS_STORE' | translate}}
        </a>
      </li>
      <hr class="h-[1px] text-[#4B4B4B] bg-[#4B4B4B] border-0 ">
      <li>
        <a class="block pt-3 pb-2 text-black-10 text-2xl font-bold"
           routerLink="/vault/list"
           (click)="menu.close()">
          {{'NAVIGATION.MY_VAULT' | translate}}
        </a>
      </li>
      <hr class="h-[1px] text-[#4B4B4B] bg-[#4B4B4B] border-0 ">
      <li>
        <a class="block pt-3 pb-2 text-black-10 text-2xl font-bold">
          {{'NAVIGATION.ACCOUNT_SETTINGS' | translate}}
        </a>
      </li>
      <hr class="h-[1px] text-[#4B4B4B] bg-[#4B4B4B] border-0 ">
      <li>
        <a class="block pt-3 pb-2 text-black-10 text-2xl font-bold"
           routerLink="/cart/items"
           (click)="menu.close()">
          {{'NAVIGATION.SHOPPING_CART' | translate}}
        </a>
      </li>
      <hr class="h-[1px] text-[#4B4B4B] bg-[#4B4B4B] border-0 ">
      <li>
        <a class="block pt-3 pb-2 text-black-10 text-2xl font-bold cursor-pointer"
           (click)="logout(); menu.close()">
          {{'NAVIGATION.LOGOUT' | translate}}
        </a>
      </li>
    </ul>
    }
    @else {
    <ul class="flex flex-col">
      <li>
        <a class="block pt-3 pb-2 text-black-10 text-2xl font-bold cursor-pointer"
           (click)="logout(); menu.close()">
          {{'NAVIGATION.LOGOUT' | translate}}
        </a>
      </li>
    </ul>
    }

  </ion-content>
</ion-menu>
