<ion-content [fullscreen]="true"
             class=""
             style="--color-page: #FCFBEC">
  <div class="max-w-lg mx-auto px-1 py-2 h-full">
    <div class="flex flex-col justify-between h-full">
      @if(!isLoading() && merch){
      <div [ngClass]="{'cursor-pointer': user()}"
           (click)="goToExclusiveContent()">
        <!-- <img class=" w-full object-cover rounded-lg overflow-hidden"
             src="{{merch.images[0]}}"> -->

        <app-video #video
                   id="{{merch.id}}"
                   [attr.data-contentItemId]="merch.id"
                   class="block w-full aspect-video rounded-lg overflow-hidden"
                   [config]="{autoplay: true, muted:true}"
                   [poster]="merch.video.poster"
                   [sources]="merch.video.sources"
                   [hasToggleIcon]="false"></app-video>

      </div>


      <div class="p-lg bg-[#111] bg-opacity-70 rounded-md">
        <div class="">
          @if(authStore.user()){
          <p class="inline text-body">{{ 'NFC.LOGGED_IN.TITLE' | translate }}{{' '}}{{ 'NFC.LOGGED_IN.SUBTITLE' | translate }}</p>
          }
          @else {
          <p class="font-normal">{{ 'NFC.NOT_LOGGED_IN.SUBTITLE' | translate }}</p>
          }
        </div>
        <div class="mt-lg mb-2xl  p-sm rounded-sm bg-black-0"
             [ngClass]="{'cursor-pointer': user()}"
             (click)="goToExclusiveContent()">
          <div class="flex gap-2 min-h-10">
            <ion-img class="float-left shrink-0 size-10 object-cover rounded-md overflow-hidden"
                     src="{{merch.images[0]}}"></ion-img>
            <div class="flex flex-col justify-between">
              <div class="flex flex-col gap-xs">
                <h2 class="line-clamp-1 text-[18px]">{{merch.name}}</h2>
                <p class="line-clamp-2 text-[14px]">{{merch.description}}</p>
              </div>
              <div class="flex items-center gap-sm ">
                <span class="icon-check text-lg"></span>
                @if(user()){
                <p class="text-1 uppercase">{{ 'NFC.LOGGED_IN.MESSAGE' | translate }}</p>
                }
                @else {
                <p class="text-1 uppercase">{{ 'NFC.NOT_LOGGED_IN.MESSAGE' | translate }}</p>
                }

              </div>
            </div>
          </div>

        </div>
        <div class="flex flex-col gap-lg">
          @if(authService.user()){
          <ion-button class="min-h-5 w-full "
                      color="white"
                      fill="outline"
                      routerLink="/artists/list"><span class="text-white capitalize">{{ 'CONSTANTS.NEXT' | translate }}</span></ion-button>
          }
          @else {
          <ion-button class="min-h-5 w-full"
                      color="white"
                      fill="outline"
                      routerLink="/auth/login"
                      [queryParams]="{returnUrl: path()}"><span class="text-white">{{ 'AUTH.LOGIN.TITLE' | translate }}</span>
          </ion-button>
          <ion-button class="min-h-5 w-full bg-white rounded-sm overflow-hidden"
                      color="dark"
                      fill="outline"
                      type="button"
                      routerLink="/auth/register"
                      [queryParams]="{returnUrl: path()}">
            <span class="text-black-0 capitalize">{{ 'CONSTANTS.REGISTER' | translate }}</span>
          </ion-button>
          }

        </div>
      </div>
      }

    </div>
  </div>
</ion-content>
