<div class="grid">
  <div class="relative flex justify-center items-center px-xl py-lg border-[1px] border-solid border-[#F3F3F4]">
    <h3 class="text-lg font-bold"> {{'MERCHANDISE.SHIPPING_INFO' | translate}}</h3>
    <ion-button class="absolute top-[50%] right-lg translate-y-[-50%]"
                color="dark"
                fill="clear"
                (click)="dismissModal()">
      <span class="icon-close text-[24px]"
            slot="icon-only"></span>
    </ion-button>
  </div>
  <div class="editor grid px-lg py-2xl"
       [innerHTML]="content()">
  </div>
</div>
