@let artist = artistStore.artist();
<ion-content [fullscreen]="true"
             #content>
  <app-header-main-page [parentPage]="'artist'"></app-header-main-page>
  <div class="container ">
    <div class="min-h-8 mb-lg">
      <ion-img class="float-left flex-shrink-0 w-full h-full max-w-8 max-h-8 mr-lg mb-xss  object-cover rounded-md overflow-hidden"
               [src]="artistStore.artist.image() "> </ion-img>
      @if(artist.name){
      <h1 class=" text-lg line-clamp-1">{{artist.name}}</h1>
      }
      <div class="line-clamp-3 leading-[1]">
        @if(artist.bio){
        <p class="text-[14px] text-black-60 line-clamp-2">{{artist.bio}} </p>
        }
        @if(artist.website){
        <a class="block text-[14px]"
           href="https://{{artist.website}}"
           target="_blank">{{artist.website}}</a>
        }
      </div>
    </div>

    @let tabs = [1,2,3,4,5];
    <div class="clear-left relative flex justify-between max-w-md
    after:content-[''] after:absolute after:z-[-1] after:bottom-0 after:left-[50%] after:translate-x-[-50%] after:w-full after:border-b  after:border-[#4B4B4B]">
      @for(tab of tabs; let i = $index; track $index){
      <div class="relative py-sm text-center cursor-pointer
      xs-min:flex-1"
           [ngClass]="artistStore.activeTab() === tab ? 'border-b border-solid border-green-100 text-green-100' : 'font-medium text-black-60'"
           (click)="artistStore.setActiveTab(tab)">
        @if(tab===2 && artistStore.hasNewChatMessages()) {
        <span class="absolute top-[2px] right-0 size-[6px] rounded-[50%] bg-red-100
        xs-min:top-[2px] xs-min:right-[min(20px,4vw)]"></span>
        }
        @switch (tab) {
        @case(1) {
        <span>{{'ARTIST.TABS.CONTENT' | translate}}</span>
        }
        @case(2) {
        <span>{{'ARTIST.TABS.CHATS' | translate}}</span>
        }
        @case(3) {
        <span>{{'ARTIST.TABS.LINKS' | translate}}</span>
        }
        @case(4) {
        <span>{{'ARTIST.TABS.STORE' | translate}}</span>
        }
        @case(5) {
        <span>{{'ARTIST.TABS.VAULT' | translate}}</span>
        }
        @default {
        <span>{{'ARTIST.TABS.CONTENT' | translate}}</span>
        }
        }

      </div>
      }
    </div>
    <div class="">
      @if(artist && artist.id) {
      @switch (artistStore.activeTab()) {
      @case(1) {
      @if(artist.content){
      <app-artist-tab-content></app-artist-tab-content>
      } @else {
      <p class="mt-lg text-[14px]">Artist content coming soon...</p>
      }
      }
      @case(2) {
      @if(artist.chat){
      <app-artist-tab-chat (onNewChatMessage)="onNewChatMessage($event)"></app-artist-tab-chat>
      } @else {
      <p class="mt-lg text-[14px]">Artist chat coming soon...</p>
      }
      }
      @case(3) {
      @if(artist.links){
      <app-artist-tab-links></app-artist-tab-links>
      } @else {
      <p class="mt-lg text-[14px]">Artist links coming soon...</p>
      }
      }
      @case(4) {
      @if(artist.merchandise){
      <app-artist-tab-merchandise></app-artist-tab-merchandise>
      } @else {
      <p class="mt-lg text-[14px]">Artist store coming soon...</p>
      }
      }
      @case(5) {
      @if(artist.merchandise){
      <app-artist-tab-vault></app-artist-tab-vault>
      } @else {
      <p class="mt-lg text-[14px]">Artist vault coming soon...</p>
      }
      }
      @default {
      <p class="mt-lg text-[14px]">Artist content coming soon...</p>
      }
      }
      }

    </div>
  </div>
</ion-content>
