<ion-header class="inner-page mb-2  px-[var(--ion-padding)]
            desktop-min:mb-3 "
            [translucent]="true">
  <ion-toolbar class=" max-w-[1100px] mx-auto">
    <ion-buttons slot="start">
      <ion-button class="px-0 desktop-min:mx-0 desktop-min:px-[5px] desktop-min:bg-white desktop-min:rounded-sm"
                  (click)="goBack()"
                  routerDirection="back">
        <span class="icon-arrow-left text-xl text-yellow-100"
              slot=""></span>
      </ion-button>
    </ion-buttons>
    <div class="flex flex-col ml-sm">
      <ion-title class="text-lg text-left text-neutral-10"
                 [ngClass]="">
       {{title()}}
      </ion-title>
      @if(isMerchandiseList !== undefined && isMerchandiseList()){
      <div class="flex gap-sm opacity-80">
        @if(totalItemsCount !== undefined){
        <span class="text-md text-neutral-100">
          {{totalItemsCount()}} {{ 'CONSTANTS.ITEMS' | translate }}
        </span>
        }
        @if(totalArtistsCount !== undefined){
        <span class="text-md text-neutral-100">
          {{totalArtistsCount()}} {{ 'CONSTANTS.ARTISTS' | translate }}
        </span>
        }
      </div>
      }
      @if(merchandise !== undefined && isMerchandiseItem() !== undefined && isMerchandiseItem()){
      <div class="flex gap-sm opacity-80">
        @if(merchandise()?.description){
        <span class="text-md text-neutral-100 text-ellipsis overflow-hidden whitespace-nowrap max-w-[calc(100%_-_30px)]">
          {{merchandise()?.description}}
        </span>
        }
        @if(merchandise()?.price !== undefined){
        <span class="text-md text-neutral-100">
          {{currency}}{{merchandise()?.price}}
        </span>
        }
      </div>
      }
      @if(merchandise() !== undefined && isVaultItem() !== undefined && isVaultItem()){
      <div class="flex gap-sm opacity-80">
        @if(merchandise()?.artist){
        <span class="text-md text-neutral-100 text-ellipsis overflow-hidden whitespace-nowrap max-w-[calc(100%_-_30px)]">
          {{merchandise()?.artist}}
        </span>
        }
        @let labels = merchandise()?.labels;
        @if(labels) {
        <span class="text-md text-neutral-100">
          {{currency}}{{labels[0].name}}
        </span>
        }
      </div>
      }
      @if(isCart !== undefined && isCart()){
      <div class="flex items-center gap-sm opacity-80">
        @if(totalItemsCount !== undefined){
        <span class="text-md text-neutral-100">
          {{totalItemsCount()}} {{ 'CONSTANTS.ITEMS' | translate }}
        </span>
        }
        <span>&#8226;</span>
        @if(totalItemsCost !== undefined){
        <span class="text-md text-neutral-100">
          {{currency}}{{totalItemsCost()}}
        </span>
        }
      </div>
      }
      @if(isArtistContent !== undefined && isArtistContent()){
      <div class="flex items-center gap-sm">
        @if(contentDate !== undefined){
        <span class="text-md text-white text-opacity-80">
          {{contentDate()}}
        </span>
        }
      </div>
      }
    </div>
  </ion-toolbar>

</ion-header>
