<div class=" flex flex-col gap-sm py-sm pb-lg">
  <h1>{{artistStore.artist.name()}}{{ 'ARTIST.PAGES.CONTENT.TITLE' | translate }}</h1>
  <div class="flex flex-col gap-md max-w-lg">
    @for(contentItem of artistStore.artist.content(); let i = $index; track $index){
    <div class="flex flex-col gap-sm">
      @if(contentItem.images && contentItem.images.length > 1){
      <app-main-swiper #swiper
                       id="{{contentItem.id}}"
                       class="block"
                       [imgs]="
           contentItem.images"
                       [paginationClass]="'swiper-artist'"
                       [imgClass]="'aspect-square'"
                       [options]="{autoHeight: true}"
                       (dblclick)="artistStore.increaseLikes(contentItem.id)"></app-main-swiper>
      }
      @if(contentItem.images){
      @if(contentItem.images && contentItem.images.length === 1){
      <ion-img #image
               id="{{contentItem.id}}"
               class="w-full h-full object-cover rounded-md overflow-hidden"
               [src]="contentItem.images[0] || '/assets/images/placeholder.svg'"
               (dblclick)="artistStore.increaseLikes(contentItem.id)"></ion-img>
      }
      }
      @if(contentItem.video) {
      @if(contentItem.video && contentItem.video.sources.length > 0) {
      <app-video #video
                 id="{{contentItem.id}}"
                 [attr.data-contentItemId]="contentItem.id"
                 class="block w-full rounded-lg overflow-hidden"
                 [config]="{
                      autoplay: false,
                      controls: false,
                      muted: false,
                      fluid: true,
                      fill: false,
                      responsive: true,
                      poster: contentItem.video.poster,
                      sources: contentItem.video.sources,
                  }"
                 [poster]="contentItem.video.poster"
                 [sources]="contentItem.video.sources"
                 (dblclick)="artistStore.increaseLikes(contentItem.id)"></app-video>
      }
      }
      <div class="flex justify-between gap-sm">
        <div class="flex flex-col flex-sm cursor-pointer"
             routerLink="/artists/{{artistStore.artist.id()}}/content/{{contentItem.id}}">
          @if(contentItem.title){
          <h2 class="text-[14px] font-normal line-clamp-1">{{contentItem.title}}</h2>
          }
          @if(contentItem.date){
          <p class="text-[10px] text-[#fff] text-opacity-80"> {{dayjs(contentItem.date).fromNow(true)}} ago</p>
          }
        </div>
        <div class="flex gap-xs">
          @if(user()?.id !== artistStore.artist.id()){
          <span class="flex items-center gap-xs cursor-pointer"
                (click)="artistStore.increaseLikes(contentItem.id)">
            <span class="icon-heart text-[16px] text-yellow-100"></span>
            <span class="text-[12px] text-[#fff]">{{contentItem.likes}}</span>
          </span>
          } @else {
          <span class="flex items-center gap-xs cursor-pointer">
            <span class="icon-heart text-[16px] text-yellow-100"></span>
            <span class="text-[12px] text-[#fff]">{{contentItem.likes}}</span>
          </span>
          }
          @if(user()?.id === artistStore.artist.id()){
          <span class="flex items-center gap-xs cursor-pointer"
                routerLink="/artists/{{artistStore.artist.id()}}/content/{{contentItem.id}}"
                [queryParams]="{isEdit: true}">
            <span class="
              icon-edit
              text-[18px]
              text-white"></span>
          </span>
          }
        </div>
      </div>
    </div>
    }
    @if(authService.user()?.id === artistStore.artist.id()){
    <ion-button class="fixed right-2xl bottom-2xl min-h-5 w-16 bg-yellow-100 rounded-sm overflow-hidden"
                fill="solid"
                (click)="openModalSheet()">
      <div class="flex justify-between items-center gap-sm">
        <div class="flex items-center justify-center size-2 rounded-[50%] bg-black-0 ">
          <span class="icon-plus text-[16px] text-yellow-100"></span>
        </div>
        <span class="shrink-0 font-medium text-black-0 capitalize">{{ 'ARTIST.PAGES.CONTENT.BUTTON_ADD' | translate }}</span>
      </div>
    </ion-button>
    }
  </div>
</div>
