<div class=" flex flex-col gap-sm pt-sm">
  <h1>{{artistStore.artist.name()}}{{ 'ARTIST.PAGES.CONTENT.TITLE' | translate }}</h1>
  <div class="flex flex-col gap-md max-w-lg">
    @for(contentItem of artistStore.artist.content(); let i = $index; track $index){
    <div class="flex flex-col gap-sm">
      @if(contentItem.images && contentItem.images.length > 1){
      <app-main-swiper #swiper id="{{contentItem.id}}" class="block" [imgs]="
           contentItem.images"
                       [paginationClass]="'swiper-artist'"
                       [imgClass]="'aspect-square'"
                       [options]="{autoHeight: true}"
                       (dblclick)="artistStore.increaseLikes(contentItem.id)"></app-main-swiper>
      }
      @if(contentItem.images && contentItem.images.length === 1){
      <ion-img #image id="{{contentItem.id}}" class="w-full h-full object-cover rounded-md overflow-hidden"
               [src]="contentItem.images[0] || '/assets/images/placeholder.svg'"
               (dblclick)="artistStore.increaseLikes(contentItem.id)"></ion-img>
      }
      @if(contentItem.video) {
      <app-video #video id="{{contentItem.id}}" [attr.data-contentItemId]="contentItem.id" class="block w-full aspect-video rounded-lg overflow-hidden"
                 [poster]="contentItem.video.poster"
                 [sources]="contentItem.video.sources"
                 (dblclick)="artistStore.increaseLikes(contentItem.id)"></app-video>
      }
      <div class="flex justify-between gap-sm">
        <div class="flex flex-col flex-sm cursor-pointer"
             routerLink="/artists/{{artistStore.artist.id()}}/content/{{contentItem.id}}">
          @if(contentItem.title){
          <h2 class="text-[14px] font-normal">{{contentItem.title}}</h2>
          }
          @if(contentItem.date){
          <p class="text-[10px] text-[#fff] text-opacity-80">{{contentItem.date}}</p>
          }
        </div>
        @if(contentItem.likes){
        <span class="flex items-center gap-xs cursor-pointer"
              (click)="artistStore.increaseLikes(contentItem.id)">
          <span class="icon-heart text-[16px] text-yellow-100"></span>
          <span class="text-[12px] text-[#fff]">{{contentItem.likes}}</span>
        </span>
        }
      </div>
    </div>
    }
  </div>
</div>
