swiper-container {
  // --swiper-pagination-bottom: 23px;
  // --swiper-pagination-color: red;
  // --swiper-pagination-bullet-width: 12px;
  // --swiper-pagination-bullet-height: 12px;
  // --swiper-pagination-bullet-inactive-color: #8c8a94;
  // --swiper-pagination-bullet-inactive-opacity: 1;
  // &::part(container) {
  //   overflow: visible;
  // }
  // &::part(pagination) {
  //   text-align: center;
  // }
  // &::part(bullet) {
  //   filter: drop-shadow(0 0 2px #8c8a94);
  // }
  // &::part(bullet-active) {
  //   filter: drop-shadow(0 0 2px #fff);
  // }
  // &.thumbnail {
  //   &::part(container) {
  //     overflow: hidden;
  //   }
  // }
  ion-img {
    &::part(image) {
      // max-height: var(--max-height, 50svh);
    }
  }
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  user-select: none;
  &-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #2c2e35;
    transition: all 0.3s ease-in;
    &-active {
      width: 20px;
      border-radius: 16px;
      background: #2c2e35;
    }
  }
}
